/* styles.css */
/*
light green		38C098
dark green		288F70
white			FFFFFF
light grey		DCE2E9
medium grey		42484F
dark grey		393E44
light purple		9925A5
dark purple		6E1B77
light blue		0094FF
dark blue		004A7F
 */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Sans-serif;
	line-height: 1.5em;
	background: #FFFFFF;
	color: #42484F;
}
p {
	color: #42484F;
}
/*Site Body*/
#container {
	min-height: 100%;
	position: relative;
	min-width: 800px;
	width: auto !important;
}
#header {
	padding:0px;
	z-index: 1;
	position:absolute;
	top:0px;
	height:40px;
	width:100%;
}
#body {
	height:100%;
	padding-bottom: 90px;
}
#footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:70px;
}

/*Classes*/
.greyContainer{
	width:99%;
}
.splitBox{
	column-count:3;
	height:auto;
}
.splitBody{
	display:inline-block;
	padding:1%;
	width:49%;
}
.linkImage{
	float:left;
	width:12%;
	opacity:1;
}
.linkImage:hover{
	opacity:0.7;
	cursor:pointer;
}
.skillImage{
	float:left;
	width:12%;
	padding:4%;
}
.hoverLink{
	text-decoration:none;
	color:white;
}
.skillImage:hover, .hoverLink:hover{
	opacity:0.7;
}
.readMore{
	text-align:center;
	padding-bottom:12px;
}
/*Tags*/
.skillTag,.gameTag,.otherTag,.perlenspielTag{
	float:left;
	margin:3px;
	padding: 5px 10px 5px 10px;
	border-radius:15px;
}
.skillTag:hover,.gameTag:hover,.otherTag:hover{
	/*cursor:pointer;*/
}
.perlenspielTag:hover{
	cursor:pointer;
}
.skillTag,.perlenspielTag{
	background-color:#38C098;
	color:white;
}
.skillTag:hover,.perlenspielTag:hover{
	background-color:#288F70;
}
.gameTag{
	background-color:#9925A5;
	color:white;
}
.gameTag:hover{
	background-color:#6E1B77;
}
.otherTag{
	background-color:#0094FF;
	color:white;
}
.otherTag:hover{
	background-color:#004A7F;
}
.icons{
	text-decoration:none;
}
/*Navigation Bar*/
.NAV {
	overflow: hidden;
	font-family: Arial;
}
.NAV a {
	display: inline-block;
	font-size: 32px;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #288F70;
}
.NAV a:hover {
	background-color: #38C098;
	cursor: pointer;
}
/*Dropdown*/
.dropdown {
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #288F70;
}
.dropbtn:hover .dropdown-content {
	display: block;
}
.dropdown-content {
	display: none;
	position: absolute;
	z-index: 2;
}
.dropdown-content a {
	font-size: 32px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #38C098;
	border: 1px solid #FFFFFF;
}
.dropdown-content a:hover {
	background-color: #288F70;
	cursor: pointer;
}
.show {
	display: block;
}
/*Name*/
.NAME {
	color: #FFFFFF;
	font-size: 60px;
	padding: 14px 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SUBNAME {
	color: #FFFFFF;
	font-size: 20px;
	padding: 14px 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Content Toggles*/
input {
	display:inline-block;
}
label {
	display:inline-block;
	text-align:center;
	color: #42484F;
}
label:hover {
	color: #000;
}